h1 {
  font-size: 30px;
  color: darkorange;
  text-align: center;
  }

.nav {
	background-color: pink;
	overflow: hidden;
}
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: purple;
  color: white;
}
.nav a.active {
  background-color: purple;
  color: white;
}

footer {
	text-align: center;
}
.center {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

